@mixin animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInUp {
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp-ani {
  @include animated;
  animation-name: bounceInUp;
  animation-duration: 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn-ani {
  @include animated;
  animation-name: fadeIn;
  animation-duration: 500ms;
}