
.wrapperTabs {
    padding: (10px 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapperToken {
    padding: (10px 0);
}
.wrapperTokenList {
    .wrapperTokenItem {
        padding: (10px 0);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .wrapperTokenInfo {
        margin-right: 15px;

        .wrapperName {
            display: flex;
        }
    }
    .tokenButton {
        height: 40px;
        width: 100px;
        background-color: white;
        color: #000;
        font-weight: 500;
    }
    .tokenAmount {
        color: #838AA7;
    }

    .wrapperTokenDetail {
        margin-left: 10px;
    }
    .line {
        border: solid 1px #E4E7F2;
        height: 0.25px;
        margin-top: 10px;
    }
    
}
.newTokenButton {
    height: 50px;
    width: 200px;
    margin:(20px 0) !important;
    background-color: #2C4CF5 !important;
    color: white !important;
}

.wrapperTokenEmpty {
    margin: (40px 0);
    .emptyHeader {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .emptyDes {
        color: #4D5473;
        text-align: center;
    }
}
.tokenTabs {
    border: solid 0px transparent !important;
}