.selectedAccount {
  font-size: 16px;
  margin-right: 5px;

  .selectedAccountName {
    font-weight: bold;
  }
}

#menu-appbar div[class^="MuiPaper"] {
  background: rgba(255, 255, 255, 0.9);
}

#menu-appbar li[class^="MuiButtonBase"]:hover {
  background-color: rgba(87, 136, 229, 0.3);
}
