.wrapperQRCode {
    .qrCode {
        width: 128px;
        height: 128px;
        margin: 10px;
    }
   
}

.balance {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: (20px 0);
}
.paymentInput {
    display: flex;
    align-items: center;
    position: relative;

}
.wrapperIconPaste {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #E6E9FF;
    height: 37px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}