.wrapperAccountList {
  min-width: 340px;

  .line {
    border: solid 1px #e4e7f2;
    height: 0.25px;
    margin-top: 10px;
  }

  .defaultDot {
    background-color: #4be1a6;
    height: 10px;
    width: 10px;
    border-radius: 5px;
  }

  .accountAmount {
    color: #838aa7;
  }
}
